NEXT_PUBLIC_BACKEND_URL = 'http://localhost:8090'
NEXT_PUBLIC_FRONTEND_URL = 'http://localhost:3000'

# Application Pagination
NEXT_PUBLIC_PAGE_LIMIT = 10
NEXT_PUBLIC_PAGE_OFFSET = 0

# Payment Gateway
NEXT_PUBLIC_RAZORPAY_KEY_ID = ''
NEXT_PUBLIC_RAZORPAY_KEY_SECRET = ''