# Git
.git
.gitignore

# Dependencies
node_modules/
jspm_packages/
venv/
.venv/
__pycache__/

# Build/Dist
dist/
build/
*.log
*.sqlite

# Environment/Secrets
.env
.env.local
.env.*.local
.aws/
.npmrc

# IDE/Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentation/Docker
*.md
docs/
Dockerfile*
docker-compose*
.dockerignore
