# example of credentials this repo need in .env fiele

# JWT Secrets
JWT_REGISTER_SECRET = 'cdcwrg3'
# BCRYPT credentials
BCRYPT_SALT_ROUNDS=12

# FRONTEND Secrets
FRONTEND_URL ='http://localhost:3000'

PORT = 8090

# Application Pagination
page_limit=10
page_offset=0

#DB configs
DB_POSTGRES_TYPE='postgres'
DB_POSTGRES_HOST='database'
DB_POSTGRES_PORT=5432
DB_POSTGRES_USERNAME='postgres'
DB_POSTGRES_PASSWORD=123
DB_POSTGRES_DATABASE='db'

# module DB schemas config
DB_POSTGRES_USER_SCHEMA='user_schema'
DB_POSTGRES_CATALOG_SCHEMA='catalog_schema'
DB_POSTGRES_SALE_SCHEMA='sale_schema'
DB_POSTGRES_BILLING_SCHEMA='billing_schema'

# docker user
POSTGRES_USER= postgres
POSTGRES_PASSWORD= 123
POSTGRES_DB=db

# RABBIT_MQ_URL=amqp://localhost:5672
RABBIT_MQ_URL=amqp://sumit:sumit123@rabbitmq:5672
RABBIT_MQ_MAX_TRY=5
RABBIT_MQ_MAX_REQUEUE_TRY=3
RETRYDELAY=10000
