.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 82.5%;
    height: 100%;
    border-left: 1px solid rgb(188, 188, 188);
    border-right: 1px solid rgb(188, 188, 188);
    border-bottom: 1px solid rgb(188, 188, 188);
    box-shadow: 0 12 0 15px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    align-content: center;
    justify-content: center;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3%;
    border-radius: 16px;
}

.title {
    text-align: center;
    margin-bottom: 6%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4%;
}

.error {
    color: red;
    font-size: 12px;
    font-weight: 500;
    margin-top: 1%;
}

.button {
    width: 100%;
    margin-top: 3%;
    gap: 10px;
    border-radius: 100px;
}

.divider {
    margin: 6% 0;
    font-weight: 500;
}

.providerLoginBox {
    width: 100%;
    margin-top: 2%;
    border-radius: 100px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 2%;
    text-transform: none;
    border-color: rgb(105, 105, 105);
    border-width: 1px;
    transition: all ease .5s;
}

.providerLoginBox:hover {
    transform: scale(1.05);
    border-color: gray;
}

.providerLoginBox:nth-child(1) {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}